#messages {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    /* color: #6e7bf2; */
    color: white;
    font-size: 15px;
	position: relative;
	top: 200px;
}




.page {
    position:absolute;
    top:20px;
    right:20px;
}

html {
    height: 100%;
}

body {
	width: 200px;
	height: 300px;
	position: relative;
	vertical-align: middle;
	background-image: linear-gradient(to right top, #eb051f, #F89B29);
	font-family: 'Noto Sans', sans-serif;
	color: white;
	text-align: center;
	letter-spacing: 0.3px;
    margin: 0;
	overflow: hidden;
}

img{
	position: absolute;
    top: 0px;
    right: 0px;
}
